button{
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}
.mainpage{
    position: relative;
    width: 60vw;
    height: 100vh;
    left: 20vw;
    background-color: white;
    overflow: auto;
}
.Booking_page,.skyBG{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url('/static/app_general/sky.jpg');
}
#BookingSeat{
    margin-left: 230px;
}

.SeatHead{
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
    padding-top: 10px;
}

input.Airplaneseat {
    width: 17px;
    height: 17px;
    margin-bottom: 34.7px;
    margin-right: 1px;
}
input.Airplaneseatbooked{
    width: 17px;
    height: 17px;
    margin-bottom: 34.7px;
    margin-right: 1px;
    cursor: not-allowed;
}
.headbook{
    position: relative;
    top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.Head_summary{
    position: absolute;
    border: 10px solid #f7cd14;
    border-top: 50px solid #f7cd14;
    background-color: #f7cd14;
    border-top-right-radius: 50px ;
    border-top-left-radius: 50px ;
    left: 1120px;
    top: 82px;
    width: 550px;
    height: 600px;
    align-items: center; 
}
.Bookingseat_summary{
    position: relative;
    background-color: #4fc4fa;
    left: 0px;
    top: 0px;
    width: 550px;
    height: 530px;
}
.BookingTotal{
    position: absolute;
    border-top: 5px solid #000000;
    top: 440px;
    width: 515px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 5px;
}
.SeatForm{
    margin-left: 30px;
    padding: 10px;
}

.Airplaneseat[id='B1'],.Airplaneseat[id='B2'],.Airplaneseat[id='B3'],.Airplaneseat[id='B4'],.Airplaneseat[id='B5']
,.Airplaneseat[id='B6'],.Airplaneseat[id='B7'],.Airplaneseat[id='B8'],.Airplaneseat[id='B9'],.Airplaneseat[id='B10'],
.Airplaneseatbooked[id='B1'],.Airplaneseatbooked[id='B2'],.Airplaneseatbooked[id='B3'],.Airplaneseatbooked[id='B4'],.Airplaneseatbooked[id='B5']
,.Airplaneseatbooked[id='B6'],.Airplaneseatbooked[id='B7'],.Airplaneseatbooked[id='B8'],.Airplaneseatbooked[id='B9'],.Airplaneseatbooked[id='B10']{
    margin-right: 13px;
}
.AirplaneBG{
    width: 1150px;
    height: 1140px;
    background-image: url('/static/app_general/airplane.png');
    background-repeat: no-repeat;
}
h2{
    position: relative;
    left: 10px;
}
.AirplaneBook{
    position: relative;
    left: 551px;
    top: 266px;
    width: 100px;
    height: 550px;
}
.tab:not(.tab__content):hover{
    background: rgb(0, 81, 255);
}
.tab input[type="radio"] {
    position: relative;
    top: 37px;
    overflow: hidden;
}
.tab__content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s;
    background-color: wheat;
    color: black;
}
  .tab input:checked ~ .tab__content {
    max-height: 500px;
}
.accordion {
    background-color: rgb(44, 110, 250);
    color: white    ;
    border: 2px solid;
    border-radius: 1rem;
    overflow: hidden;
    width: 100%;
}
.tab__label{
    display: flex;
    color: white;
    background: rgb(44, 110, 250);
    justify-content: space-between;
    cursor: pointer;
    padding: 1rem;
} 
.tab__label:hover{
    display: flex;
    color: white;
    background: rgb(0, 81, 255);
    justify-content: space-between;
    cursor: pointer;
    padding: 1rem;
} 
.tab__label::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transform: rotate(90deg);
    transition: all 0.35s;
}
.tab input:checked + .tab__label::after {
    transform: rotate(270deg);
}
.tab__close {
    justify-content: flex-end;
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
}


.Pay_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.Pay_info[id = "total"]{
    border-top: 3px solid #000;
    margin-left: 5px;
    margin-right: 5px;
}
.PaySummary{
    position: relative;
    background-color: #cac9c6;
    border: 5px solid #000;
    width: 90%;
    left: 50px;
    border-top-right-radius: 50px ;
    border-top-left-radius: 50px ;
    align-items: center; 
}
#totalPay{
    margin-left: 45%;
}
#totalPaybut{
    margin-left: 47%;
}
#totaltime{
    margin-left: 10%;
}

.left-text {
    margin-right: 10px;
    margin-left: 30px;
}
  
.right-text {
    margin-left: 10px;
    margin-right: 30px;
}
.left-div {
    float: left;
    width: 10%;
}
.user-Head{
    display: grid;
    place-items: center;
    margin-top: 50px;
}
.right-div {
    float: left;
    width: 90%;
}
.right-div[id="dashboard"] {
    position: relative;
    background-color: #f7cd14;
    top: 10px;
    left: 10px;
}
.errorlist {
    color: red;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}
  
.modal-content {
    background-color: #fff;
    border-radius: 5px;
    width: 600px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    animation: fadeIn 0.5s ease;
}
  
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
  
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
