{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block site_title %}{% endblock site_title%} Around The World</title>
    <link rel="stylesheet" href="{% static 'app_general/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'app_general/main.css' %}">
    <link rel="stylesheet" href="{% static 'app_general/nicepage.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'app_general/login.css' %}" media="screen">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
</head>
<body>
    {% include 'app_general/components/site_header.html'%}
    {% block content %}{% endblock content%}
</body>
</html>