<header style=" background-color: rgb(63, 245, 139);">
    <a href="{% url 'home'%}" style="margin-right: 50px;">AroundTheWorld</a>
    <a href="{% url 'tours'%}" style="margin-right: 150px;">Tours</a>
    {% if user.is_authenticated %}
    <a href="#" style="margin-right: 150px;">{{ user.username }}</a>
    <a href="{% url 'logout' %}" style="margin-right: 150px;">ออกจากระบบ</a>
    {% else %}
    <a href="{% url 'login' %}" style="margin-right: 150px;">เข้าสู่ระบบ</a>
    <a href="{% url 'register' %}" style="margin-right: 150px;">สมัครสมาชิก</a>

    {% endif %}
</header>