{% load static %}
<link rel="stylesheet" href="{% static 'app_general/header.css' %}" media="screen">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
<header class="header" style="z-index: 10000;">
    <div class="container" style="z-index: 10000;">
        <div class="header-left">
            <div class="logo" onclick="goToHomePage()">
                <img class = "headertour" src="{% static 'app_general/logo.png' %}" alt="Logo">
            </div>
            <div class="brand" onclick="goToHomePage()" style="cursor: pointer;">
                <span class="brand-name">Around The World</span>
            </div>
            <div class="nav-links">
                <ul class = "tourhead">
                    <li class = "tourhead"><a href="{% url 'tours'%}">หน้าหลัก</a></li>
                    <li  class = "tourhead"><a href="#">กรุ๊ปส่วนตัว</a></li>
                    <li  class = "tourhead"><a href="#">จัดกรุ๊ปองค์กร</a></li>
                    <li  class = "tourhead"><a href="#">โปรโมชั่น</a></li>
                </ul>
            </div>
        </div>
        {% if user.is_authenticated %}
        <div class="header-right">
            <div class="user-info" style="cursor: pointer;">
                {% if user.is_staff == 1%}
                    <span class="user-name" onclick="goToAdminPage()">Admin</span>
                    <span class="logout"  onclick="goToLogoutPage()">ลงชื่อออก</span>
                </div>
                <img style="cursor: pointer;" onclick="goToAdminPage()" src="{% static 'app_general/iconprofile.png' %}" class="profile-picture"></img>
                {% else %}
                <span class="user-name" onclick="goToProfilePage()">{{ user.username }}</span>
                <span class="user-credit">เครดิต {{user_credit}} บาท</span>
                <span class="logout"  onclick="goToLogoutPage()">ลงชื่อออก</span>    
                </div>
                <img style="cursor: pointer;" onclick="goToProfilePage()" src="{% static 'app_general/iconprofile.png' %}" class="profile-picture"></img>
            {% endif %}
        </div>
        {% else %}
        <div class="header-right">
            <div class="user-actions">
                <button class="login-button" onclick="goToLoginPage()">ลงชื่อเข้าใช้</button>
                <button class="register-button" onclick="goToRegisterPage()">ลงทะเบียน</button>
            </div>
        </div>
        {% endif %}
    </div>
</header>
<script>
    function goToLoginPage() {
        var LoginUrl = "{% url 'login' %}";
        window.location.href = LoginUrl;
    }
    function goToRegisterPage() {
        var RegisterUrl = "{% url 'register' %}";
        window.location.href = RegisterUrl;
    }
    function goToHomePage() {
        var HomeUrl = "{% url 'tours'%}";
        window.location.href = HomeUrl;
    }
    function goToProfilePage() {
        var ProfileUrl = "{% url 'profile' %}";
        window.location.href = ProfileUrl;
    }
    function goToLogoutPage() {
        var LogoutUrl = "{% url 'logout' %}";
        window.location.href = LogoutUrl;
    }
    function goToAdminPage() {
        var AdmintUrl = "/admin";
        window.location.href = AdmintUrl;
    }
</script>