{% extends 'app_general/components/base.html'%}
{% load static %}

{% block site_title %} Login - {% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'app_general/main.css' %}">
    <link rel="stylesheet" href="{% static 'app_general/login.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'app_general/nicepage.css' %}" media="screen">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
{% endblock %}

{% block content %}
{% if error == 1 %}
<div id="myModal" class="modal">
  <div class="modal-content">
    <svg height="32" style="overflow:visible;enable-background:new 0 0 32 32" viewBox="0 0 32 32" width="32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><g id="Error_1_"><g id="Error"><circle cx="16" cy="16" id="BG" r="16" style="fill:#D72828;"/><path d="M14.5,25h3v-3h-3V25z M14.5,6v13h3V6H14.5z" id="Exclamatory_x5F_Sign" style="fill:#E6E6E6;"/></g></g></g></svg>
    <p>ชื่อผู้ใช้หรือรหัสผ่านไม่ถูกต้อง</p>
    <button onclick="closeModal()">Ok</button>
  </div>
</div>
<script>
  var modal = document.getElementById("myModal");
  function showAlert() {
    modal.style.display = "block";
  }
  function closeModal() {
    modal.style.display = "none";
  }
  showAlert()
</script>
{% endif %}
<section class="u-clearfix u-custom-color-3 u-section-1" id="sec-9909">
    <div class="u-clearfix u-sheet u-sheet-1">
        <form action="{% url 'login' %}" method="post">
            <div class="u-container-style u-group u-radius-15 u-shape-round u-white u-group-1">
                {% csrf_token %}
                <div class="u-container-layout u-container-layout-1">
                    <img class="u-image u-image-contain u-image-default u-preserve-proportions u-image-1" src="{% static 'app_general/logo.png' %}" alt="" data-image-width="512" data-image-height="512">
                    <h1 class="u-text u-text-default u-text-1">Around The World</h1>
                    <h1 class="u-text u-text-default u-text-2">เข้าสู่ระบบ</h1>

                    <div class="custom-expanded u-border-1 u-border-grey-75 u-container-style u-group u-shape-rectangle u-group-2">
                        {{ form.username }}
                    </div>
                    <h1 class="u-text u-text-default u-text-3">ชื่อผู้ใช้ : </h1>
                    <div class="custom-expanded u-border-1 u-border-grey-75 u-container-style u-group u-shape-rectangle u-group-3">
                        {{ form.password }}
                    </div>
                    <h1 class="u-text u-text-default u-text-4">รหัสผ่าน : </h1>

                    <button type="submit" class="u-border-none u-btn u-btn-round u-button-style u-custom-color-3 u-radius-15 u-btn-1">เข้าสู่ระบบ</button>
                    {% if request.GET.next %}
                        <input type="hidden" name="next" value="{{ request.GET.next }}">
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
</section>
<div class="Background"></div>
{% endblock %}