{% extends 'app_general/components/base.html'%}
{% load static %}

{% block site_title %} Login - {% endblock %}
{% block link %}
    <link rel="stylesheet" href="{% static 'app_general/main.css' %}">
    <link rel="stylesheet" href="{% static 'app_user/nicepage.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'app_user/Register.css' %}" media="screen">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,400,500,600,700,800,900">
{% endblock %}

{% block content %}
{% if error_mess == 'Pass' %}
<div id="myModal" class="modal">
  <div class="modal-content">
    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="215.434px" height="215.434px" viewBox="0 0 215.434 215.434" enable-background="new 0 0 215.434 215.434"
	 xml:space="preserve">
<g>
	<circle fill="#54C147" cx="107.717" cy="107.717" r="106.299"/>
	<polygon fill="#FFFFFF" points="96.977,121.718 145.084,50.79 168.752,69.02 103.583,164.647 46.678,120.299 63.562,96.402 	"/>
</g>
</svg>
    <p>สมัครสมาชิกเสร็จสมบูรณ์</p>
    <button onclick="HomeRedirect()">Ok</button>
  </div>
</div>
<script>
  var modal = document.getElementById("myModal");
  function showAlert() {
    modal.style.display = "block";
  }
  function closeModal() {
    modal.style.display = "none";
  }
  function HomeRedirect() {
    window.location.href = "/";
  }
  showAlert()
</script>
{% elif error_mess != '' %}
<div id="myModal" class="modal">
  <div class="modal-content">
    <svg height="32" style="overflow:visible;enable-background:new 0 0 32 32" viewBox="0 0 32 32" width="32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><g id="Error_1_"><g id="Error"><circle cx="16" cy="16" id="BG" r="16" style="fill:#D72828;"/><path d="M14.5,25h3v-3h-3V25z M14.5,6v13h3V6H14.5z" id="Exclamatory_x5F_Sign" style="fill:#E6E6E6;"/></g></g></g></svg>
    <p>{{ error_mess|linebreaksbr }}</p>
    <button onclick="closeModal()">Ok</button>
  </div>
</div>
<script>
  var modal = document.getElementById("myModal");
  function showAlert() {
    modal.style.display = "block";
  }
  function closeModal() {
    modal.style.display = "none";
  }
  showAlert()
</script>

{% endif %}
<section class="u-clearfix u-gradient u-section-1" id="sec-a296">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
      <div class="u-layout">
        <div class="u-layout-row">
          <div class="u-container-style u-layout-cell u-size-14 u-layout-cell-1">
            <div class="u-container-layout u-container-layout-1"></div>
          </div>
          <div class="u-container-style u-layout-cell u-radius-29 u-shape-round u-size-33 u-white u-layout-cell-2">
            <form action="{% url 'register' %}" id="Register" method="post" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email" name="form" style="padding: 10px;">
              {% csrf_token %}
              <div class="u-container-layout u-container-layout-2">
              <img class="u-align-left u-image u-image-default u-image-1" src="{% static 'app_general/logo.png' %}" alt="" data-image-width="512" data-image-height="512">
              <h1 class="u-custom-font u-font-roboto-slab u-text u-text-1">Around The World</h1>
              <h1 class="u-align-center u-text u-text-2">Signup</h1>
              <div class="custom-expanded u-align-center u-form u-form-1">
                
                  <div class="u-form-group u-label-top u-form-group-1">
                    <label for="text-d11f" class="u-form-control-hidden u-label"></label>
                    {{ form.username }}
                  </div>
                  <div class="u-form-group u-label-top u-form-group-2">
                    <label for="text-23c2" class="u-form-control-hidden u-label"></label>
                    {{ form.password1 }}
                  </div>
                  <p class="u-form-group u-form-text u-text u-text-3"> -Your password can’t be too similar to your other personal&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; information.<br>-Your password must contain at least 8 characters.<br>-Your password can’t be a commonly used password.<br>-Your password can’t be entirely numeric.
                  </p>
                  <div class="u-form-group u-label-top u-form-group-4">
                    <label for="text-5fac" class="u-form-control-hidden u-label u-label-3"></label>
                    {{ form.password2 }}
                  </div>
                  <div class="u-form-group u-label-top u-form-group-5">
                    <label for="text-d78d" class="u-form-control-hidden u-label"></label>
                    {{ form.FirstName }}
                  </div>
                  <div class="u-form-group u-label-top u-form-group-6">
                    <label for="text-5496" class="u-form-control-hidden u-label"></label>
                    {{ form.LastName }}
                  </div>
                  <div class="u-form-group u-label-top u-form-group-7">
                    <label for="text-ce66" class="u-form-control-hidden u-label"></label>
                    {{ form.Contract}}
                  </div>
                  <div class="u-form-email u-form-group u-label-top">
                    <label for="email-5c33" class="u-form-control-hidden u-label"></label>
                    {{ form.Email }}
                  </div>
                  <div class="u-align-center u-form-group u-form-submit u-label-top">
                    <button type="submit" value="submit" class="u-btn u-btn-round u-btn-submit u-button-style u-custom-font u-heading-font u-radius-18 u-block-c20c-22">Signup</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="u-container-style u-layout-cell u-size-13 u-layout-cell-3">
            <div class="u-container-layout u-container-layout-3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}