{% extends 'app_general/components/base.html'%}
{% load static %}

{% block site_title %} Login - {% endblock %}

{% block content %}
<section class="u-clearfix u-gradient u-block-c20c-1" custom-posts-hash="[]" data-style="blank" data-section-properties="{&quot;margin&quot;:&quot;none&quot;,&quot;stretch&quot;:true}" id="sec-a296" data-source="Blank" data-id="c20c">
  <div class="u-clearfix u-sheet u-block-c20c-2">
    <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-block-c20c-3">
      <div class="u-layout">
        <div class="u-layout-row">
          <div class="u-container-style u-layout-cell u-size-14 u-block-c20c-4">
            <div class="u-container-layout u-block-c20c-5"></div>
          </div>
          <div class="u-container-style u-layout-cell u-radius-29 u-shape-round u-size-33 u-white u-block-c20c-6">
            <div class="u-container-layout u-block-c20c-7">
              <img class="u-align-left u-image u-image-default u-block-c20c-23" src="{% static 'app_general/logo.png' %}"  alt="" data-image-width="512" data-image-height="512">
              <h1 class="u-custom-font u-font-roboto-slab u-text u-block-c20c-25">Around The World</h1>
              <h1 class="u-align-center u-text u-block-c20c-26">Signup</h1>
              <div class="custom-expanded u-align-center u-form u-block-c20c-11">
                <form form action="{% url 'register' %}" id="Register" method="post" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email" data-services="602db100508af8d86a3c311171c6c2ee" name="form" style="padding: 10px;">
                  {% csrf_token %}
                  <input type="hidden" id="siteId" name="siteId" value="3012822459">
                  <input type="hidden" id="pageId" name="pageId" value="570501398">
        
                  <div class="u-form-group u-label-top u-block-c20c-27">
                    <label for="text-d11f" class="u-form-control-hidden u-label u-block-c20c-28"></label>
                    {{ form.username }}
                  </div>
                  <div class="u-form-group u-label-top u-block-c20c-30">
                      <label for="text-23c2" class="u-form-control-hidden u-label u-block-c20c-31"></label>
                      {{ form.password1 }}
                  </div>
                  <p class="u-form-group u-form-text u-text u-block-c20c-47">
                  -Your password can’t be too similar to your other personal&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; information.
                  <br>-Your password must contain at least 8 characters.
                  <br>-Your password can’t be a commonly used password.
                  <br>-Your password can’t be entirely numeric.</p>
                  <div class="u-form-group u-label-top u-block-c20c-34">
                    <label for="text-5fac" class="u-form-control-hidden u-label u-block-c20c-35"></label>
                    {{ form.password2 }}
                  </div>
                  <div class="u-form-group u-label-top u-block-c20c-37">
                    <label for="text-d78d" class="u-form-control-hidden u-label u-block-c20c-39"></label>
                    {{ form.FirstName }}
                  </div>
                  <div class="u-form-group u-label-top u-block-c20c-38">
                    <label for="text-5496" class="u-form-control-hidden u-label u-block-c20c-41"></label>
                    {{ form.LastName }}
                  </div>
                  <div class="u-form-group u-label-top u-block-c20c-43">
                    <label for="text-ce66" class="u-form-control-hidden u-label u-block-c20c-44"></label>
                    {{ form.Contract}}
                  </div>
                  <div class="u-form-email u-form-group u-label-top u-block-c20c-15">
                    <label for="email-5c33" class="u-form-control-hidden u-label u-block-c20c-16"></label>
                    {{ form.Email }}
                  </div>
        
                  <div class="u-align-center u-form-group u-form-submit u-label-top u-block-c20c-21">
                    <button type="submit" value="submit" class="u-btn u-btn-round u-btn-submit u-button-style u-custom-font u-heading-font u-radius-18 u-block-c20c-22">Signup</button>
                  </div>
                  <div class="u-form-send-message u-form-send-success">
                      Thank you! Your message has been sent.
                  </div>
                  <div class="u-form-send-error u-form-send-message">
                      Unable to send your message. Please fix errors then try again.
                  </div>
                  <input type="hidden" value="" name="recaptchaResponse">
                </form>
              </div>
            </div>
          </div>
          <div class="u-container-style u-layout-cell u-size-13 u-block-c20c-8">
            <div class="u-container-layout u-block-c20c-9"></div>
          </div>  
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}